<%- include('partials/header') %>

<script> $("#navbarCollapse > ul > li:nth-child(3)").addClass("active") </script>

<div class="container-fluid index-spacing">
    <div class="col-lg-12 calendar-month-title">
        <h7 class="viewed-year"><%= viewedYear %></h7>
    </div>
        <div class="col-lg-12 row calendar-month-title">
            <div class="col-lg-4 col-sm-2 text-right">
                <button type="submit" class="arrow-button-left inline change-month-btn previous-month">
                    <i class="fas fa-arrow-left fa-2x previous-month"></i>
                </button>
            </div>
            <div class="col-lg-4 col-sm-8">
            <h2 class="viewed-month" class="inline"><%= viewedMonth %></h2>
            </div>
            <div class="col-lg-4 col-sm-2 text-left">
                <button type="submit" class="arrow-button-right inline change-month-btn next-month">
                    <i class="fas fa-arrow-right fa-2x next-month"></i>
                </button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <table class="calendar-table">
                <colgroup>
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 12%;">
                </colgroup>
            <thead>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>        
            </thead>
            <tbody class="task-table-body">
            </tbody>    
        </table>
        </div>
    </div>
</div>
<div id="calendarSideNav" class="sidenav">
    <a onclick="moveNav()" id="navButton" class="navButton"><i class="fas fa-angle-left fa-3x"></i></a>
    <div id="selectedDayTasks">
        <h2 class="white-text text-center" id="sideNavDay"></h2>  
        <div class="scrollable-table">
            <table class="today-table-sidenav">
                <colgroup>
                    <col span="1" style="width: 75%;">
                    <col span="1" style="width: 25%;">
                </colgroup>
                <thead>
                    <tr>
                        <th class="today-bigger-headings">Task</th>
                        <th class="today-smaller-headings">Type</th>
                    </tr>
                </thead>
                <tbody id="today-table-sidenav-body">
                </tbody>
            </table>    
        </div>
    </div>
</div>

<%- include('partials/footer') %>

<!-- Populates the calendar body for the initial load
 -------------------------------------------------->
 <script>
    const htmlText = `<%- htmlText %>`;
    const calendarBody = document.querySelector(".task-table-body");
    calendarBody.innerHTML = '';
    calendarBody.innerHTML = htmlText;
</script>


<!-- Edit Task Modal
    -------------------------------------------------->
<div id="editTaskModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
</div>

  <!-- Edit Completed Task Modal 
    -------------------------------------------------->
<div id="editCompletedTaskModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
</div>

<script> 
    function moveNav() {
        const navButton = document.getElementById('navButton');
        const sideNav = document.getElementById('calendarSideNav');

        navButton.classList.toggle('navButton-open');
        sideNav.classList.toggle('sideNav-open');
    }
</script>

<!-- Edit Task Modal Script
    -------------------------------------------------->
<script>
    $('.edit-modal').on('click', function(e){
      e.preventDefault();
      $('#editTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>

<!-- Edit Completed Task Script
    -------------------------------------------------->
<script>
$('.edit-completed-modal').on('click', function(e){
      e.preventDefault();
      $('#editCompletedTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>


<script>
const sideNavHeader = document.getElementById('sideNavDay');
const sideNavBody = document.getElementById('today-table-sidenav-body');

const populateSideNavSetup = function () {
    const calendarCells = document.querySelectorAll('.calendar-cell');
    
    calendarCells.forEach(cell => {
        const [selectedCellDay,] = cell.className.split(' ');

        if (!selectedCellDay) {
            return;
        }

        cell.addEventListener('click', (e) => {
            e.preventDefault();
            const selectedDay = {"selectedDay": selectedCellDay};

            $.ajax({
                type:"POST",
                url: "/calendar/populateSideNav",
                data: selectedDay,
                dataType: "json",
                success: function(result) {
                    sideNavHeader.innerHTML = '';
                    sideNavHeader.innerHTML = result.header;
                    sideNavBody.innerHTML = '';
                    sideNavBody.innerHTML = result.html;

                    $('.edit-modal-sidenav').on('click', function(e){
                        e.preventDefault();
                        $('#editTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
                    });

                    $('.edit-completed-modal-sidenav').on('click', function(e){
                        e.preventDefault();
                        $('#editTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
                    });
                }
            });
        })
    });
};

populateSideNavSetup();

const changeMonthBtns = document.querySelectorAll('.change-month-btn');

changeMonthBtns.forEach(monthBtn => {
    monthBtn.addEventListener('click', (e) => {
        e.preventDefault();

        const monthChangeDirection = (e.target.className.includes("previous-month"))
            ? 'previous'
            : 'next'
        ;

        const monthChange = {
            "direction": monthChangeDirection,
        };

        $.ajax({
            type:"POST",
            url: "/calendar/changeMonth",
            data: monthChange,
            dataType: "json",
            success: function(result) {
                const calendarBody = document.querySelector('.task-table-body');
                const viewedYear = document.querySelector('.viewed-year');
                const viewedMonth = document.querySelector('.viewed-month');
                calendarBody.innerHTML = '';
                viewedYear.innerHTML = ''
                viewedMonth.innerHTML = ''
                calendarBody.innerHTML = result.tableHtml;
                viewedYear.innerHTML = result.year;
                viewedMonth.innerHTML = result.month;
                

                $('.edit-modal').on('click', function(e){
                    e.preventDefault();
                    $('#editTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
                });


                $('.edit-completed-modal').on('click', function(e){
                    e.preventDefault();
                    $('#editCompletedTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
                });

                populateSideNavSetup();
            }
        });
    })
})
</script>


