<%- include('partials/header') %>

<script> $("#navbarCollapse > ul > li:nth-child(2)").addClass("active") </script>

<div class="container page-starter">
    <div class="row">
        <div class="col-lg-12">
            <a href="./tasks/addTask" class="add-modal add-task-button btn btn-primary">Add New Task</a>
            <a href="./viewCompleted" class="add-task-button btn btn-success">View Completed</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="scrollable-table col-lg-12">
    <table class="col-lg-12 task-table">
        <colgroup>
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 14%;">
            <col span="1" style="width: 6%;">
        </colgroup>
        <thead>
        <tr>
            <th>Task Title</th>
            <th>Task Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="task-table-body">
        </tbody>
    </table>
    </div>
    <nav>
      <ul class="pagination pagination-nav justify-content-center">
      </ul>
      <div class="table-count"></div>
    </nav>
</div>

<%- include('partials/footer') %>

<!-- Populates the table body with active tasks
 -------------------------------------------------->
<script>
  // Initial table load
  const tableHtml = `<%- tableHtml %>`;
  const paginationHtml = `<%- paginationHtml %>`;
  const paginationCountHtml = `<%- paginationCountHtml %>`
  const taskTable = document.querySelector('.task-table-body');
  const pagination = document.querySelector('.pagination');
  const taskTableCount = document.querySelector('.table-count');


  updateHtml(tableHtml, paginationHtml, paginationCountHtml);
  paginationBtnEventSetup()


  function updateHtml(tableHtml, paginationHtml, paginationCountHtml) {
    taskTable.innerHTML = '';
    taskTable.innerHTML = tableHtml;
    pagination.innerHTML = '';
    pagination.innerHTML = paginationHtml;
    taskTableCount.paginationCountHtml = '';
    taskTableCount.innerHTML = paginationCountHtml;
  }

  function paginationBtnEventSetup() {
    const paginationBtns = document.querySelectorAll(".page-item");

    paginationBtns.forEach(btn => {
      if (!btn.classList.contains("disabled")) {
        btn.addEventListener("click", (e) => {
        e.preventDefault();
        const clicked = { "clickedBtn": e.target.innerText };
        
        $.ajax({
        type:"POST",
        url: "/tasks/pagination",
        data: clicked,
        dataType: "json",
        success: function (result) {
          const tableHtml = result.tableHtml;
          const paginationHtml = result.paginationHtml;
          const paginationCountHtml = result.paginationCountHtml;

          updateHtml(tableHtml, paginationHtml, paginationCountHtml);
          paginationBtnEventSetup()
        }
        });
      });
      }
    })
  }
</script>


<!-- Add New Task Modal 
 -------------------------------------------------->
<div id="addNewTaskModal" class="modal fade" tabindex="-1" role="dialog"  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content add-modal-content">
      </div>
    </div>
  </div>
<script>
$('.add-modal').on('click', function(e){
      e.preventDefault();
      $('#addNewTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>


<!-- Edit Task Modal 
 -------------------------------------------------->
<div id="editTaskModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
<script>
$('.edit-modal').on('click', function(e){
      e.preventDefault();
      $('#editTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>

<!-- Delete Task Modal 
 -------------------------------------------------->
<div id="deleteTaskModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
<script>
$('.delete-modal').on('click', function(e){
      e.preventDefault();
      $('#deleteTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>